Dataflows/Pace_Segment Pipline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "dbo",
                "table": {
                  "value": "@variables('TriggeredDataflow')",
                  "type": "Expression"
                }
              },
              "schema": [],
              "linkedService": {
                "name": "DEVREBEL_Data",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "597688fb-fd34-aff9-47eb-87c6f266312a",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "GoogleCloudStorageWriteSettings",
              "copyBehavior": "PreserveHierarchy"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "GoogleCloudStorageLocation",
                  "bucketName": "revrebel_datafiles",
                  "folderPath": {
                    "value": "@variables('TriggeredDataflow')",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@concat(variables('TriggeredDataflow'), formatDateTime(pipeline().TriggerTime, 'yyyyMMdd'))",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "externalReferences": {
                "connection": "f89f509b-818c-4606-a0eb-0b87c152a11e"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "segment",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "property_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "property_name",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_name",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "property_shortname",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_shortname",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cs_set_id",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "cs_set_id",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "physical_capacity",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "physical_capacity",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "cs_physical_capacity",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "cs_physical_capacity",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "stay_date",
                  "type": "Date",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "stay_date",
                  "type": "Date",
                  "physicalType": "DATE"
                }
              },
              {
                "source": {
                  "name": "month",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "month",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "month_year",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "month_year",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cy",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "cy",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "weekday",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "weekday",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "dow",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "dow",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "occ",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_occ",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_occ",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_occ_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_occ_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_occ_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_occ_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_index",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_index_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_index_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "occ_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "adr",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "adr",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "adr_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "adr_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_adr",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_adr",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_adr_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_adr_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "adr_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "adr_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "adr_rank_py",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "adr_rank_py",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "revpar_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "revpar_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "revpar_rank_py",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "revpar_rank_py",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cs_demand_id",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "cs_demand_id",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "snapshot_date",
                  "type": "Date",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "snapshot_date",
                  "type": "Date",
                  "physicalType": "DATE"
                }
              },
              {
                "source": {
                  "name": "ingested_timestamp",
                  "type": "DateTime",
                  "physicalType": "timestamp"
                },
                "sink": {
                  "name": "ingested_timestamp",
                  "type": "DateTime",
                  "physicalType": "INT96"
                }
              },
              {
                "source": {
                  "name": "sent_to_big_query",
                  "type": "Boolean",
                  "physicalType": "boolean"
                },
                "sink": {
                  "name": "sent_to_big_query",
                  "type": "Boolean",
                  "physicalType": "BOOLEAN"
                }
              },
              {
                "source": {
                  "name": "date_sent_to_big_query",
                  "type": "DateTime",
                  "physicalType": "timestamp"
                },
                "sink": {
                  "name": "date_sent_to_big_query",
                  "type": "DateTime",
                  "physicalType": "INT96"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": false,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "REVREBEL Google Property",
        "dependsOn": [
          {
            "activity": "Set Demand Property REVREBEL",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "UPDATE @{variables('TriggeredDataflow')}\nSET\n    sent_to_big_query = 1,\n    date_sent_to_big_query = SYSDATETIME()\nWHERE sent_to_big_query = 0;",
                "type": "Expression"
              },
              "type": "NonQuery"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "StagingWarehouseForDataflows_20250703032654",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "671b1547-f5c9-4186-8822-25c0bf0d8af4",
              "endpoint": "msbvoon2ra2ejbu7qwwi3bse3m-b2r4o34tw6cudoovfs7eqhx244.datawarehouse.fabric.microsoft.com",
              "workspaceId": "6fc7a30e-b793-4185-b9d5-2cbe481efae7"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "UpdateSentToBiqQuery Property",
        "dependsOn": [
          {
            "activity": "REVREBEL Google Property",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "32c62143-ab73-4b86-8522-9ada191ccb42",
          "workspaceId": "6fc7a30e-b793-4185-b9d5-2cbe481efae7",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Demand_Segment_Dataflow",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "dbo",
                "table": "Demand_Segment"
              },
              "schema": [],
              "linkedService": {
                "name": "DEVREBEL_Data",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "597688fb-fd34-aff9-47eb-87c6f266312a",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "GoogleCloudStorageWriteSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "GoogleCloudStorageLocation",
                  "bucketName": "aparium-data-upload",
                  "folderPath": {
                    "value": "@variables('TriggeredDataflow')",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@concat(variables('TriggeredDataflow'), formatDateTime(pipeline().TriggerTime, 'yyyyMMdd'))",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "externalReferences": {
                "connection": "f89f509b-818c-4606-a0eb-0b87c152a11e"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "property_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "property_name",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_name",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "d360_segment",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "d360_segment",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "stay_date",
                  "type": "Date",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "stay_date",
                  "type": "Date",
                  "physicalType": "DATE"
                }
              },
              {
                "source": {
                  "name": "occ",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_occ",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_occ",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_index",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "occ_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "occ_index_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_index_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "rms",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "adr",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "adr",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "adr_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "adr_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "revpar",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "revpar",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "revpar_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "revpar_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cs_set_id",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "cs_set_id",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "month",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "month",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "physical_capacity",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "physical_capacity",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "cs_physical_capacity",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "cs_physical_capacity",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "month_year",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "month_year",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cy",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "cy",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "weekday",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "weekday",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "dow",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "dow",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment_sort",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "segment_sort",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "segment_group",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment_group",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "property_shortname",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_shortname",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment_group_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment_group_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "finance_segment",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "finance_segment",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cs_demand_id",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "cs_demand_id",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "snapshot_date",
                  "type": "Date",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "snapshot_date",
                  "type": "Date",
                  "physicalType": "DATE"
                }
              },
              {
                "source": {
                  "name": "ingested_timestamp",
                  "type": "DateTime",
                  "physicalType": "timestamp"
                },
                "sink": {
                  "name": "ingested_timestamp",
                  "type": "DateTime",
                  "physicalType": "INT96"
                }
              },
              {
                "source": {
                  "name": "sent_to_big_query",
                  "type": "Boolean",
                  "physicalType": "boolean"
                },
                "sink": {
                  "name": "sent_to_big_query",
                  "type": "Boolean",
                  "physicalType": "BOOLEAN"
                }
              },
              {
                "source": {
                  "name": "date_sent_to_big_query",
                  "type": "DateTime",
                  "physicalType": "timestamp"
                },
                "sink": {
                  "name": "date_sent_to_big_query",
                  "type": "DateTime",
                  "physicalType": "INT96"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": false,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Aparium Google Property",
        "dependsOn": [
          {
            "activity": "Set Demand Property Aparium",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "13734c4b-c254-4862-a827-8d15a28b8670",
          "workspaceId": "6fc7a30e-b793-4185-b9d5-2cbe481efae7",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Demand_Channel_Dataflow",
        "dependsOn": []
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "a63ae037-90c5-41bc-947d-c52680509fec",
          "workspaceId": "6fc7a30e-b793-4185-b9d5-2cbe481efae7",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Demand_Property_Dataflow",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "TriggeredDataflow",
          "value": {
            "value": "Demand_Property",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Demand Property Aparium",
        "dependsOn": [
          {
            "activity": "Demand_Property_Dataflow",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "TriggeredDataflow",
          "value": {
            "value": "Demand_Property",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Demand Property REVREBEL",
        "dependsOn": [
          {
            "activity": "Demand_Property_Dataflow",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "TriggeredDataflow",
          "value": {
            "value": "Demand_Channel",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Demand Channel REVREBEL",
        "dependsOn": [
          {
            "activity": "Demand_Channel_Dataflow",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "TriggeredDataflow",
          "value": {
            "value": "Demand_Channel",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Demand Channel Aparium",
        "dependsOn": [
          {
            "activity": "Demand_Channel_Dataflow",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "TriggeredDataflow",
          "value": {
            "value": "Demand_Segment",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Demand_Segment_Aparium",
        "dependsOn": [
          {
            "activity": "Demand_Segment_Dataflow",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "TriggeredDataflow",
          "value": {
            "value": "Demand_Segment",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set Demand_Segment_REVREBEL",
        "dependsOn": [
          {
            "activity": "Demand_Segment_Dataflow",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "dbo",
                "table": "Demand_Segment"
              },
              "schema": [],
              "linkedService": {
                "name": "DEVREBEL_Data",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "597688fb-fd34-aff9-47eb-87c6f266312a",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "GoogleCloudStorageWriteSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "GoogleCloudStorageLocation",
                  "bucketName": "aparium-data-upload",
                  "folderPath": {
                    "value": "@variables('TriggeredDataflow')",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@concat(variables('TriggeredDataflow'), formatDateTime(pipeline().TriggerTime, 'yyyyMMdd'))",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "externalReferences": {
                "connection": "f89f509b-818c-4606-a0eb-0b87c152a11e"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "property_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "property_name",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_name",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "d360_segment",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "d360_segment",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "stay_date",
                  "type": "Date",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "stay_date",
                  "type": "Date",
                  "physicalType": "DATE"
                }
              },
              {
                "source": {
                  "name": "occ",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_occ",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_occ",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_index",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "occ_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "occ_index_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_index_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "rms",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "adr",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "adr",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "adr_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "adr_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "revpar",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "revpar",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "revpar_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "revpar_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cs_set_id",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "cs_set_id",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "month",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "month",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "physical_capacity",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "physical_capacity",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "cs_physical_capacity",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "cs_physical_capacity",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "month_year",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "month_year",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cy",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "cy",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "weekday",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "weekday",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "dow",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "dow",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment_sort",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "segment_sort",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "segment_group",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment_group",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "property_shortname",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_shortname",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment_group_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment_group_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "finance_segment",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "finance_segment",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cs_demand_id",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "cs_demand_id",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "snapshot_date",
                  "type": "Date",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "snapshot_date",
                  "type": "Date",
                  "physicalType": "DATE"
                }
              },
              {
                "source": {
                  "name": "ingested_timestamp",
                  "type": "DateTime",
                  "physicalType": "timestamp"
                },
                "sink": {
                  "name": "ingested_timestamp",
                  "type": "DateTime",
                  "physicalType": "INT96"
                }
              },
              {
                "source": {
                  "name": "sent_to_big_query",
                  "type": "Boolean",
                  "physicalType": "boolean"
                },
                "sink": {
                  "name": "sent_to_big_query",
                  "type": "Boolean",
                  "physicalType": "BOOLEAN"
                }
              },
              {
                "source": {
                  "name": "date_sent_to_big_query",
                  "type": "DateTime",
                  "physicalType": "timestamp"
                },
                "sink": {
                  "name": "date_sent_to_big_query",
                  "type": "DateTime",
                  "physicalType": "INT96"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": false,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Aparium Google Segment",
        "dependsOn": [
          {
            "activity": "Set Demand_Segment_Aparium",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "dbo",
                "table": "Demand_Segment"
              },
              "schema": [],
              "linkedService": {
                "name": "DEVREBEL_Data",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "597688fb-fd34-aff9-47eb-87c6f266312a",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "GoogleCloudStorageWriteSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "GoogleCloudStorageLocation",
                  "bucketName": "aparium-data-upload",
                  "folderPath": {
                    "value": "@variables('TriggeredDataflow')",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@concat(variables('TriggeredDataflow'), formatDateTime(pipeline().TriggerTime, 'yyyyMMdd'))",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "externalReferences": {
                "connection": "f89f509b-818c-4606-a0eb-0b87c152a11e"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "property_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "property_name",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_name",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "d360_segment",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "d360_segment",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "stay_date",
                  "type": "Date",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "stay_date",
                  "type": "Date",
                  "physicalType": "DATE"
                }
              },
              {
                "source": {
                  "name": "occ",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_occ",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_occ",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_index",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "occ_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "occ_index_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_index_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "rms",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "adr",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "adr",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "adr_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "adr_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "revpar",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "revpar",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "revpar_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "revpar_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cs_set_id",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "cs_set_id",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "month",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "month",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "physical_capacity",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "physical_capacity",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "cs_physical_capacity",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "cs_physical_capacity",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "month_year",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "month_year",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cy",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "cy",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "weekday",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "weekday",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "dow",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "dow",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment_sort",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "segment_sort",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "segment_group",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment_group",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "property_shortname",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_shortname",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment_group_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment_group_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "finance_segment",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "finance_segment",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cs_demand_id",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "cs_demand_id",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "snapshot_date",
                  "type": "Date",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "snapshot_date",
                  "type": "Date",
                  "physicalType": "DATE"
                }
              },
              {
                "source": {
                  "name": "ingested_timestamp",
                  "type": "DateTime",
                  "physicalType": "timestamp"
                },
                "sink": {
                  "name": "ingested_timestamp",
                  "type": "DateTime",
                  "physicalType": "INT96"
                }
              },
              {
                "source": {
                  "name": "sent_to_big_query",
                  "type": "Boolean",
                  "physicalType": "boolean"
                },
                "sink": {
                  "name": "sent_to_big_query",
                  "type": "Boolean",
                  "physicalType": "BOOLEAN"
                }
              },
              {
                "source": {
                  "name": "date_sent_to_big_query",
                  "type": "DateTime",
                  "physicalType": "timestamp"
                },
                "sink": {
                  "name": "date_sent_to_big_query",
                  "type": "DateTime",
                  "physicalType": "INT96"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": false,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Aparium Google Channel",
        "dependsOn": [
          {
            "activity": "Set Demand Channel Aparium",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "dbo",
                "table": {
                  "value": "@variables('TriggeredDataflow')",
                  "type": "Expression"
                }
              },
              "schema": [],
              "linkedService": {
                "name": "DEVREBEL_Data",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "597688fb-fd34-aff9-47eb-87c6f266312a",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "GoogleCloudStorageWriteSettings",
              "copyBehavior": "PreserveHierarchy"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "GoogleCloudStorageLocation",
                  "bucketName": "revrebel_datafiles",
                  "folderPath": {
                    "value": "@variables('TriggeredDataflow')",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@concat(variables('TriggeredDataflow'), formatDateTime(pipeline().TriggerTime, 'yyyyMMdd'))",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "externalReferences": {
                "connection": "f89f509b-818c-4606-a0eb-0b87c152a11e"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "property_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "property_name",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_name",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "stay_date",
                  "type": "Date",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "stay_date",
                  "type": "Date",
                  "physicalType": "DATE"
                }
              },
              {
                "source": {
                  "name": "d360_channel",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "d360_channel",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "occ",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_occ",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_occ",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_index",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "occ_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "occ_index_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_index_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "rms",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "adr",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "adr",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "adr_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "adr_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "revpar",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "revpar",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "revpar_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "revpar_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "month_year",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "month_year",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cy",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "cy",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "month",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "month",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "weekday",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "weekday",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "dow",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "dow",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "property_shortname",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_shortname",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cs_set_id",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "cs_set_id",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "physical_capacity",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "physical_capacity",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "cs_physical_capacity",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "cs_physical_capacity",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "cs_demand_id",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "cs_demand_id",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "snapshot_date",
                  "type": "Date",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "snapshot_date",
                  "type": "Date",
                  "physicalType": "DATE"
                }
              },
              {
                "source": {
                  "name": "ingested_timestamp",
                  "type": "DateTime",
                  "physicalType": "timestamp"
                },
                "sink": {
                  "name": "ingested_timestamp",
                  "type": "DateTime",
                  "physicalType": "INT96"
                }
              },
              {
                "source": {
                  "name": "sent_to_big_query",
                  "type": "Boolean",
                  "physicalType": "boolean"
                },
                "sink": {
                  "name": "sent_to_big_query",
                  "type": "Boolean",
                  "physicalType": "BOOLEAN"
                }
              },
              {
                "source": {
                  "name": "date_sent_to_big_query",
                  "type": "DateTime",
                  "physicalType": "timestamp"
                },
                "sink": {
                  "name": "date_sent_to_big_query",
                  "type": "DateTime",
                  "physicalType": "INT96"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": false,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "REVREBEL Google Channel",
        "dependsOn": [
          {
            "activity": "Set Demand Channel REVREBEL",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "dbo",
                "table": {
                  "value": "@variables('TriggeredDataflow')",
                  "type": "Expression"
                }
              },
              "schema": [],
              "linkedService": {
                "name": "DEVREBEL_Data",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "597688fb-fd34-aff9-47eb-87c6f266312a",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "GoogleCloudStorageWriteSettings",
              "copyBehavior": "PreserveHierarchy"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "GoogleCloudStorageLocation",
                  "bucketName": "revrebel_datafiles",
                  "folderPath": {
                    "value": "@variables('TriggeredDataflow')",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@concat(variables('TriggeredDataflow'), formatDateTime(pipeline().TriggerTime, 'yyyyMMdd'))",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "externalReferences": {
                "connection": "f89f509b-818c-4606-a0eb-0b87c152a11e"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "property_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "property_name",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_name",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "d360_segment",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "d360_segment",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "stay_date",
                  "type": "Date",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "stay_date",
                  "type": "Date",
                  "physicalType": "DATE"
                }
              },
              {
                "source": {
                  "name": "occ",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_occ",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_occ",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_index",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "occ_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "occ_index_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "occ_index_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "occ_index_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "rms",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_rms_pct_var_py",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "cs_rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "cs_rms_pct_chg_pw",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "adr",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "adr",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "adr_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "adr_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "revpar",
                  "type": "Double",
                  "physicalType": "double"
                },
                "sink": {
                  "name": "revpar",
                  "type": "Double",
                  "physicalType": "DOUBLE"
                }
              },
              {
                "source": {
                  "name": "revpar_rank",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "revpar_rank",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cs_set_id",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "cs_set_id",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "month",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "month",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "physical_capacity",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "physical_capacity",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "cs_physical_capacity",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "cs_physical_capacity",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "month_year",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "month_year",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cy",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "cy",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "weekday",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "weekday",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "dow",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "dow",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment_sort",
                  "type": "Int64",
                  "physicalType": "long"
                },
                "sink": {
                  "name": "segment_sort",
                  "type": "Int64",
                  "physicalType": "INT_64"
                }
              },
              {
                "source": {
                  "name": "segment_group",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment_group",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "property_shortname",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "property_shortname",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "segment_group_code",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "segment_group_code",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "finance_segment",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "finance_segment",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "cs_demand_id",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "cs_demand_id",
                  "type": "String",
                  "physicalType": "STRING"
                }
              },
              {
                "source": {
                  "name": "snapshot_date",
                  "type": "Date",
                  "physicalType": "date"
                },
                "sink": {
                  "name": "snapshot_date",
                  "type": "Date",
                  "physicalType": "DATE"
                }
              },
              {
                "source": {
                  "name": "ingested_timestamp",
                  "type": "DateTime",
                  "physicalType": "timestamp"
                },
                "sink": {
                  "name": "ingested_timestamp",
                  "type": "DateTime",
                  "physicalType": "INT96"
                }
              },
              {
                "source": {
                  "name": "sent_to_big_query",
                  "type": "Boolean",
                  "physicalType": "boolean"
                },
                "sink": {
                  "name": "sent_to_big_query",
                  "type": "Boolean",
                  "physicalType": "BOOLEAN"
                }
              },
              {
                "source": {
                  "name": "date_sent_to_big_query",
                  "type": "DateTime",
                  "physicalType": "timestamp"
                },
                "sink": {
                  "name": "date_sent_to_big_query",
                  "type": "DateTime",
                  "physicalType": "INT96"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": false,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "REVREBEL Google Segment",
        "dependsOn": [
          {
            "activity": "Set Demand_Segment_REVREBEL",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "UPDATE @{variables('TriggeredDataflow')}\nSET\n    sent_to_big_query = 1,\n    date_sent_to_big_query = SYSDATETIME()\nWHERE sent_to_big_query = 0;",
                "type": "Expression"
              },
              "type": "NonQuery"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "StagingWarehouseForDataflows_20250703032654",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "671b1547-f5c9-4186-8822-25c0bf0d8af4",
              "endpoint": "msbvoon2ra2ejbu7qwwi3bse3m-b2r4o34tw6cudoovfs7eqhx244.datawarehouse.fabric.microsoft.com",
              "workspaceId": "6fc7a30e-b793-4185-b9d5-2cbe481efae7"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "UpdateSentToBiqQuery Segment",
        "dependsOn": [
          {
            "activity": "REVREBEL Google Segment",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "UPDATE @{variables('TriggeredDataflow')}\nSET\n    sent_to_big_query = 1,\n    date_sent_to_big_query = SYSDATETIME()\nWHERE sent_to_big_query = 0;",
                "type": "Expression"
              },
              "type": "NonQuery"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "StagingWarehouseForDataflows_20250703032654",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "671b1547-f5c9-4186-8822-25c0bf0d8af4",
              "endpoint": "msbvoon2ra2ejbu7qwwi3bse3m-b2r4o34tw6cudoovfs7eqhx244.datawarehouse.fabric.microsoft.com",
              "workspaceId": "6fc7a30e-b793-4185-b9d5-2cbe481efae7"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "UpdateSentToBiqQuery Channel",
        "dependsOn": [
          {
            "activity": "REVREBEL Google Channel",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "insert_timestamp": {
        "type": "String"
      },
      "TriggeredDataflow": {
        "type": "String"
      }
    }
  }
}